/* Hero Section */

.element0 {
  line-height: 1.5;
  white-space: pre;
  display: inline-block;
  position: relative;
  max-width: 600px;
  width: 100%;
  padding: 0 20px;
  text-align: left;
}

.navLinks {
  display: inline-block;
  margin-top: 2rem;
}

@media (max-width: 767px) {
  .element0 {
    font-size: 0.9rem;
    white-space: pre-wrap;
    padding: 0 15px;
  }

  .navLinks {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    white-space: nowrap;
  }

  .navLinks a {
    display: inline-block;
    margin: 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .element0 {
    font-size: 1.3rem;
    max-width: 500px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .element0 {
    font-size: 1.6rem;
    max-width: 550px;
  }
}

@media (min-width: 1200px) {
  .element0 {
    font-size: 2rem;
    max-width: 600px;
  }
}

.cursorWrapper :global(.typed-cursor) {
  display: inline !important;
  position: relative !important;
  margin-left: 2px !important;
  vertical-align: baseline !important;
  line-height: normal !important;
  font-size: 1.5rem !important;
}

.cursorWrapper :global(.typed-cursor.smallCursor) {
  font-size: 0.8rem !important;
}

/* Adjust cursor size for different screen sizes */
@media (min-width: 768px) and (max-width: 991px) {
  .cursorWrapper :global(.typed-cursor) {
    font-size: 1.2rem !important;
  }
  .cursorWrapper :global(.typed-cursor.smallCursor) {
    font-size: 0.6rem !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .cursorWrapper :global(.typed-cursor) {
    font-size: 1.3rem !important;
  }
  .cursorWrapper :global(.typed-cursor.smallCursor) {
    font-size: 0.7rem !important;
  }
}

@media (min-width: 1200px) {
  .cursorWrapper :global(.typed-cursor) {
    font-size: 1.5rem !important;
  }
  .cursorWrapper :global(.typed-cursor.smallCursor) {
    font-size: 0.8rem !important;
  }
}
